# dependencies
node_modules

# production
dist
dist-ssr

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo

# editor / os
.DS_Store
*.local
.claude/worktrees/
.claude/

